*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    margin: 2em auto;
    width: 400px;
}

form h2{
    text-align: center;
    margin-bottom: 1em;
}

form textarea{
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #414141;
    border-radius: 10px;
    outline: none;
}

form small{
    display: block;
    margin-bottom: 1em;
}

form button{
    padding: 10px 20px;
    background-color: rgb(76, 127, 236);
    color: white;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 10px;
    cursor: pointer;
}

#limpar{
    background-color: transparent;
    border: 1px solid rgb(76, 127, 236);
    color: black;
}

main{
    width: 400px;
    margin: 0 auto;
    height: 100%;
}

.spinner{
    display: none;
    justify-content: center;
}

.spinner i{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.text-result{
    margin: 20px 0;
}